@model List<Coupon>
@{
    ViewData["Title"] = "CouponIndex";
}

<div class="row m-4 text-end">
    <div class="col-12">
        <a type="submit" class="btn btn-primary" asp-action="CreateCoupon">Create Coupon</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
@*            <th>CouponId</th>
*@            <th>CouponCode</th>
            <th>DiscountAmount</th>
            <th>MinAmount</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var n in Model)
        {
            <tr>
@*                <td>@n.CouponId</td>
*@                <td>@n.CouponCode</td>
                <td>@n.DiscountAmount$</td>
                <td>@n.MinAmount$</td>
                <td>
                    <a type="submit" asp-action="DeleteCoupon" asp-route-couponId="@n.CouponId" class="btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
